.container{
   position: absolute;
   left: 50%;
   top:50%;
   transform: translate(-50%, -50%);
   max-width: 50% !important;
   padding: 5rem !important;
   background: rgba(255, 255, 255, 0.495);

}
.home-bg{
    background-image: url("../images/header-background.webp");
    height: 100vh;
    background-position: center;
}

span {
    display: flex;
    flex-direction: row;
}
img{
    background-image: url("../images/photo.jpeg");
   background-size: cover;
   background-repeat: no-repeat;
   height: 70px;
   width: 70px;
   border-radius: 50px;
   border: 5px solid #a7eeeae0;
   border-style:groove;
   align-items: center;
}