/* *{
    margin: 0;
    padding: 0;
    
} */

#ToDoList{
    background-color: transparent;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}


.to-do-list-bg {
    height: 100vh;
    background: linear-gradient(135deg, #153677, #4e085f);
    padding: 10px;
}

.todo-app{
    width: 100%;
    max-width: 540px;
    background: #fff;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
}

.todo-app h2{
    color: #002765;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.row{
    display: inline;
    align-items: center;
    justify-content: space-between ;
    background: #edeef0;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}

#input-el{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    font-weight: 14px;
}

#add-btn{
    width: 20%;
    border: none;
    outline: none;
    padding: 10px;
    background:#002765;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 30px;
}

#ul-el ul {
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor:pointer;
    background-color: rgb(74, 133, 184);
    border-radius: 30px;
    margin: 10px;
}

#ul-el.checked{
    color: #555;
    text-decoration: line-through;
}



.listItem {
    display: flex;
    justify-content: space-around;
}

#ul-el span:hover{
    background: #112a74;
    color: #fff;
}

/* @media screen and (max-width: 280px) {
    .row{
        display: flex;
        flex-direction: column;
        border-radius: 0px;
        text-align: right;
        align-items:flex-end;
        margin: 10px;
        background: transparent;
        padding-left: 10px;
        max-width: fit-content;
    }

    input{
        margin: 0;
        background: #edeef0;
        border-radius: 30px;
    }
    
    button{
        padding: 10px 30px;
        font-size: 10px;
        align-items:stretch;
        align-self: right;
    }
    
    .todo-app{
        max-width: 100%;
        padding: 20px 15px 35px;
    }
}  */








